.container-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-menu .content-menu{
    display: flex;
    flex-wrap: wrap;
    gap :28px;
    flex-direction: row;
    margin-left: 24px;
}

.container-menu .title-menu{
    margin-left: 24px;
    color: var(--White, #FFF);
/* Heading/H2 */
font-family: Barlow;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 28px */
margin-bottom: 24px;
}